.main-grid {
  @extend %no-margin-padding;
  display    : flex;
  min-height : 100vh;

  &__navmenu {
	}
  &__container {
	display   : flex;
	flex-flow : column;
	&__main-image {
	  margin           : 15px 15px 0 15px;
	  //padding          : $padding-images;
	  //border-radius    : $border-radius-component;
	  background-color : $color-component-background-lvl2;
	  //box-shadow       : $box-shadow-unfocused-component;
	  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .12), -1px -1px 3px 0 rgba(0, 0, 0, .08);
	  &__container {
		&__image {
		  width         : 100%;
		  //border-radius : $border-radius-images;
		  }
		}
	  }
	&__content {
	  flex-grow : 1;
	  margin    : 0;
	  &__app-content {
		//@extend %flex-row_w-flex_start-flex_start;
		margin  : 0;
		//padding : 0 100px;
		//flex-grow: 1;
		}
	  }
	}
  }

.todo-list-container {
  @extend %no-margin-padding;
  width : 100%;
  }