@import "variables";
@import "header";
@import "footer";
@import "indexpage";
@import "app";
@import "navmenu";
@import "tasklist";
@import "normalize";
@import "overview";

// Common Styles //
body {
  font-family      : $font-family-main;
  font-size        : $font-size-main;
  color            : $font-color-main;
  background-color : $color-background-main;
  }

h1 {
  margin      : 0;
  font-weight : lighter;
  }

* {
  box-sizing : border-box;
  }

.view_max-half {
  max-width : 50%;
  }

.view_max-quarter {
  max-width : 25%;
  }

.view_max-20 {
  max-width : 20%;
  }

//.view_max-25_min-20 {
//  max-width : 25%;
//  //min-width : fit-content;
//  }

.component {
  border-radius    : $border-radius-component;
  //box-shadow       : $box-shadow-focused-component;
  //margin           : 0 18px 12px 0;
  margin-bottom           : 12px;
  padding: 0 6px;
  //flex-grow        : 1;
  //display          : flex;
  }

