.footer-container {
  @extend %flex-col-center-center;
  min-height       : 150px;
  background-color : #7a9da1;
  color            : #fff;
  }

.footer {
  color : red;

  &__social {
	color : green;
	}
  }