//.no-padding {
//  padding : 0 !important;
//  margin  : 0 !important;
//  }
//
.homepage-container {
  background-color : $color-component-background-lvl3;
  }

.info {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  min-height      : 100vh;
  &__container {
	display          : flex;
	flex-flow        : row wrap;
	background-color : $color-component-background-lvl2;
	padding-bottom   : 15px;
	padding-right    : 0;
	box-shadow       : 3px 3px 3px 0 rgba(0, 0, 0, .12), -1px -1px 3px 0 rgba(0, 0, 0, .08);
	margin-top       : 10px;
	margin-bottom    : 10px;
	&__pane {
	  border-left      : 1px solid $color-red;
	  background-color : $color-component-background-lvl1;
	  padding          : 5px 20px 15px;
	  display          : flex;
	  flex-flow        : column;
	  margin-right     : 0;
	  margin-top       : 15px;
	  &__common-title {
		padding        : 15px 10px 5px;
		font-size      : 20px;
		text-transform : uppercase;
		text-align     : center;
		}
	  &__title {
		padding       : 10px 0;
		font-family   : $font-family-title;
		border-bottom : 1px solid $color-component-background-lvl2;
		}
	  &__text {
		padding : 5px;
		margin  : 8px 0 0 0;
		}
	  &__code {
		background-color : $color-component-background-lvl2;
		padding          : 5px 10px;
		margin-left      : 6px;
		border-left      : 1px solid $color-green;
		font-style       : italic;
		}
	  &__additional {
		display      : flex;
		padding-left : 0;
		&__container {
		  flex-grow        : 1;
		  margin-top       : 15px;
		  display          : flex;
		  flex-flow        : row wrap;
		  border-top       : 1px solid $color-yellow;
		  background-color : $color-component-background-lvl1;
		  padding          : 0;
		  &__item {
			padding         : 10px 0 0 10px;
			display         : flex;
			align-items     : center;
			justify-content : center;
			overflow        : hidden;
			&__icon {
			  z-index : 1;
			  }
			}
		  }
		}
	  }
	}
  }

.app-link {
  display               : flex;
  justify-content       : center;
  align-items           : center;
  position              : relative;
  width                 : 100%;
  min-height            : 100vh;
  background            : $color-component-background-lvl2 url("../image/indexpage-background.jpg");
  background-position   : center center;
  background-attachment : fixed;
  //background-repeat     : no-repeat;

  &__pane {
	background-color : $color-component-background-lvl2;
	min-width        : 100%;
	min-height       : 30%;
	padding          : 20px 30px;
	display          : flex;
	flex-flow        : column;
	align-items      : center;
	box-shadow       : 0 0 30px 0 rgba(0, 0, 0, .16), 0 0 30px 0 rgba(0, 0, 0, .16);
	& > a:hover {
	  text-decoration : none;
	  }
	&__title {
	  padding        : 20px 10px;
	  margin-bottom  : 2px;
	  font-size      : 40px;
	  text-align     : center;
	  text-transform : uppercase;
	  }
	&__link {
	  width            : 192px;
	  height           : 108px;
	  font-size        : 25px;
	  background-color : $color-component-background-lvl3;
	  overflow         : hidden;
	  &:hover &__hover {
		left : 0;
		}
	  &__hover {
		width            : 192px;
		height           : 108px;
		background-color : #f08b03;
		position         : relative;
		left             : -192px;
		transition       : $transition-animation-hover;
		}
	  &__container {
		border-left     : 1px solid #f08b03;
		width           : 192px;
		height          : 108px;
		position        : relative;
		top             : -108px;
		display         : flex;
		align-items     : center;
		justify-content : center;

		&__text {
		  color : #fff;
		  }
		&__button {
		  color : #fff;
		  }
		}
	  }
	}
  }

//
//  &__block {
//	width            : 100%;
//	background-color : #fdfdfd;
//
//	&__main-info {
//	  background-color : #fff;
//	  width            : 100%;
//	  text-align       : center;
//	  display          : flex;
//	  flex-flow        : column nowrap;
//	  justify-content  : space-around;
//	  align-items      : center;
//	  flex-grow        : 1;
//	  min-height      : 100vh;
//
//	  &__title {
//		font-size   : 40px;
//		font-family : $font-family-main;
//		}
//
//	  &__app-link {
//		display         : flex;
//		flex-flow       : row nowrap;
//		justify-content : center;
//		align-items     : center;
//		color           : #28a497;
//
//		&:hover {
//		  color           : #22897c;
//		  text-decoration : none;
//		  }
//
//		&__text {
//		  font-size    : 30px;
//		  margin-right : 5px;
//		  }
//
//		&__add-button {
//		  margin-left : 5px;
//		  height      : 25px;
//		  width       : 25px;
//		  }
//		}
//	  }
//	&__footer {
//	  width : 100%;
//	  }
//	}
//  }
//
