
%menu-items-hover-common {
  background-color : $color-component-background-lvl3;
  transition       : $transition-animation-hover;
  }

%nav-menu {
  display          : flex;
  flex-flow        : column;
  background-color : $color-navmenu;
  height           : 100%;
  box-shadow       : 3px 0 3px 0 #00000014;
  transition       : $transition-animation-hover;
  &__menu-state-switcher {
	display         : flex;
	justify-content : center;
	align-self      : flex-start;
	width           : 28px;
	margin          : 15px auto 15px 26px;
	padding         : 0;
	background      : none;
	border          : none;
	font-size       : 23px;
	&:focus {
	  outline : none;
	  }
	}
  &__avatar {
	display         : flex;
	justify-content : center;
	&__user-image {
	  transition : $transition-animation-hover;
	  &:hover {
		cursor : pointer;
		}
	  }
	}
  &__container {
	& > a:hover { text-decoration : none }
	&__item {
	  display         : flex;
	  justify-content : center;
	  align-items     : center;
	  height          : 80px;
	  width           : 100%;
	  &:focus { outline: none }
	  &__content {
		display         : flex;
		flex-flow       : column;
		justify-content : center;
		align-items     : center;
		height           : 100%;
		width            : 100%;
		font-family      : $font-family-main;
		color            : $font-color-navmenu;
		background-color : $color-component-background-lvl2;
		border           : none;
		&:focus { outline: none }
		}
	  }
	}
  }

.nav-link-active {
  & > .navMenuIsClosed__container__item__content{
	//background-color: $color-component-background-lvl3;
	border-left: 2px solid $color-yellow;
	}
  & > .navMenuIsOpen__container__item__content{
	//background-color: $color-component-background-lvl3;
	border-left: 2px solid $color-yellow;
	}
  }

.navMenuIsClosed {
  @extend %nav-menu;
  width : 80px;
  & > a:hover {
	text-decoration : none;
	}
  &__menu-state-switcher {
	@extend %nav-menu__menu-state-switcher;
	}
  &__avatar {
	@extend %nav-menu__avatar;
	&__user-image {
	  @extend %nav-menu__avatar__user-image;
	  width  : 80px;
	  height : 80px;
	  &:hover { box-shadow : 3px 2px 10px 0 rgba(0, 0, 0, 0.28) }
	  }
	}
  &__container {
	@extend %nav-menu__container;
	display  : flex;
	overflow : hidden;
	&:hover { overflow : visible }
	//
	&:hover &__item__content { @extend %menu-items-hover-common }
	//
	&:hover &__hint { // container hover forces hint block to change style
	  @extend %menu-items-hover-common;
	  padding          : 0 15px;
	  width            : max-content;
	  height           : 80px;
	  box-shadow       : 6px 3px 12px 1px rgba(0, 0, 0, 0.1), 3px 3px 12px 1px rgba(0, 0, 0, 0.1);
	  &:hover { // container:hover .hint:hover {hide hint on hover}
		display : none
		}
	  &__text { // &__hint__text
		width       : fit-content;
		margin-left : 0;
		}
	  }
	&__item {
	  @extend %nav-menu__container__item;
	  flex-shrink : 0;
	  z-index     : 2;
	  &__content {
		@extend %nav-menu__container__item__content;
		justify-content : center;
		align-items     : center;
		font-size       : 24px;
		}
	  }
	&__hint {
	  display         : flex;
	  justify-content : center;
	  align-items     : center;
	  flex-shrink     : 0;
	  height          : 80px;
	  width           : 0;
	  z-index         : 1;
	  &__text {
		margin-left : -80px;
		white-space : nowrap;
		overflow    : hidden;
		transition  : $transition-animation-hover;
		}
	  }
	}
  }

.navMenuIsOpen {
  @extend %nav-menu;
  width : 200px;
  &__menu-state-switcher {
	@extend %nav-menu__menu-state-switcher;
	}
  &__avatar {
	@extend %nav-menu__avatar;
	padding-top : 20px;
	padding-bottom : 20px;
	border-top  : 1px solid $color-component-background-lvl3;
	border-bottom  : 1px solid $color-component-background-lvl3;
	&__user-image {
	  @extend %nav-menu__avatar__user-image;
	  height        : 100%;
	  width         : 85%;
	  border-radius : 50%;
	  box-shadow    : 3px 2px 10px 0 rgba(0, 0, 0, 0.28);
	  &:hover { box-shadow : 3px 2px 12px 2px rgba(0, 0, 0, 0.28) }
	  }
	}
  &__container {
	@extend %nav-menu__container;
	&__item {
	  @extend %nav-menu__container__item;
	  &__content {
		@extend %nav-menu__container__item__content;
		align-items  : flex-start;
		padding-left : 35px;
		font-size    : 18px;
		text-align: left;
		&:hover {
		  @extend %menu-items-hover-common;
		  }
		}
	  }
	}
  }