%link-geometry {
  height           : 68px;
  width            : 120px;
  position         : relative;
  bottom           : 68px;
  transition    : $transition-animation-hover;
  };

.overview {
  max-width : 100%;
  padding   : 0;
  margin    : 0 15px;

  &__app-links {
	display         : flex;
	justify-content : center;
	margin          : 15px 0 0;

	&__container {
	  height           : 68px;
	  width            : 120px;
	  background-color : $color-component-background-lvl2;
	  overflow         : hidden;
	  margin           : 0 5px 0 0;

	  &:focus { outline : none }

	  &:hover &__hover { bottom : 0; }

	  &__hover {
		@extend %link-geometry;
		//background-color : $color-green;
		}

	  &__item {
		@extend %link-geometry;
		border        : none;
		color         : $font-color-main;
		border-radius : $border-radius-component;
		box-shadow    : $box-shadow-unfocused-component;
		background    : none;
		font-family   : $font-family-title;

		&:focus { outline : none }
		}
	  }
	}

  &__content {
	box-shadow    : 3px 3px 3px 0 rgba(0, 0, 0, .12), -1px -1px 3px 0 rgba(0, 0, 0, .08);
	margin-bottom : 40px;
	}
  }