//  ----  Imports  ----  //
//@import 'variables';
%manager-button-style {
  display         : flex;
  margin          : 4px;
  justify-content : center;
  height          : 30px;
  width           : 30px;
  line-height     : 16px;
  border          : none;
  background      : none;
  font-family     : $font-family-main;
  transition      : $transition-animation-hover;
  &:hover {
	background-color : $color-component-background-lvl2;
	}
  }

@keyframes slide-down {
  0% {
	opacity: 0;
	transform: translateY(-20px);
	}
  100% {
	opacity: 1;
	transform: translateY(0);
	}
  }

@keyframes slide-up {
  0% {
	opacity: 0;
	transform: translateY(20px);
	}
  100% {
	opacity: 1;
	transform: translateY(0);
	}
  }


.task-completed{
  color: $font-color-main-deeper;
  text-decoration:line-through;
  //text-decoration: $button-font-color-deeper;
  }

.completed-animation {
  animation: slide-down 0.3s ease;
  }

.uncompleted-animation {
  animation: slide-up 0.3s ease;
  }

.todo-title {
  border-left : $todo-title;
  }

.note-title {
  border-left : $note-title;
  }

.common-title {
  border-left : $common-title;
  }

//  ----  Styles  ----   //
.editor-container {
  display          : flex;
  background-color : $color-component-background-lvl2;
  padding          : 15px 13px 15px 25px;
  margin           : 15px auto;
  max-width        : 650px;
  }

.taskboard-container {
  display          : flex;
  flex-flow        : row wrap;
  background-color : $color-component-background-lvl2;
  margin           : 15px 0 0;
  padding          : 15px 25px;
  }

.manager-entity-editor {
  max-width : 600px;
  min-width : 214px;
  flex-grow: 1;
  margin-right: 12px;
  }

.manager-entity-list {
  //max-width : 450px;
  min-width : 300px;
  //display: block !important;
  //flex-grow : 0 !important;
  }

.task-container {
  display   : flex;
  flex-flow : column;
  flex-grow : 1;
  padding   : 0;
  max-width : 100%;
  margin    : 0;
  background-color : $color-component-background-lvl1;
  &__title-form { // Input title from editor (not the overview page)
	//border-top    : $border-component-title;
	border-bottom : $border-component-hover;
    margin-right: 12px;
	display       : flex;
	align-items   : center;
	//#7cbdd6
	&__form-group {
	  flex-grow : 1;
	  margin    : 0;
	  padding   : 12px 10px;
	  &__title-input {
		@extend %input-custom;
		border-radius    : 4px !important;
		font-family      : $font-family-title;
		background-color : $input-background-color;
		color            : $input-font-color;
		&:focus {
		  @extend %input-custom;
		  }
		}
	  }
	}
  &__todo-note-form {
	display     : flex;
	align-items : center;
	&__form-group {
	  display   : flex;
	  flex-grow : 1;
	  margin    : 0;
	  padding   : 0 0 0 20px;
	  &__todo-note-input {
		@extend %input-custom;
		font-family      : $font-family-main;
		background-color : $input-background-color;
		color            : $input-font-color;
		&:focus {
		  @extend %input-custom;
		  border-bottom : $border-component-hover !important;
		  }
		}
	  }
	&__add-todo-note-button {
	  //@extend %no-margin-padding;
	  @extend %manager-button-style;
	  color     : $button-font-color-deeper;
	  font-size : 22px;
	  &:hover {
		color : $button-font-color-deeper-hover;
		}
	  &:focus {outline : none;}
	  }
	}
  &__note-form {
	display     : flex;
	align-items : stretch;
	min-height  : 200px;
	&__form-group {
	  display   : flex;
	  flex-grow : 1;
	  margin    : 0;
	  padding   : 0 20px 0;
	  &__note-input {
		@extend %input-custom;
		font-family      : $font-family-main;
		background-color : $input-background-color;
		color            : $input-font-color;
		resize           : none;
		&:focus {
		  @extend %input-custom;
		  }
		&::-webkit-scrollbar {
		  display : none;
		  }
		}
	  }
	}
  &__title-container { // Input title from overview page (not the editor)
	display       : flex;
	line-height   : 30px;
	padding-left  : 10px;
	max-width     : 100%;
	align-items   : center;
	border-radius : $border-radius-component $border-radius-component 0 0;
	word-break    : break-word;
	border-bottom : $border-component-hover;
	&__title {
	  //margin        : 20px 0 10px 0;
	  flex-grow   : 1;
	  color       : $font-color-title;
	  max-width   : 100%;
	  padding     : 12px 10px;
	  font-family : $font-family-title;
	  //overflow: hidden;
	  &:focus {
		outline: none;
		}
	  }
	&__del-button-container {
	  display : flex;
	  &__button {
		//@extend %no-margin-padding;
		@extend %manager-button-style;
		color     : $button-font-color-brighter;
		font-size : 18px;
		&:hover {color : $button-font-color-brighter-hover;}
		&:focus {outline : none;}
		}
	  }
	}
  &__separator {
	width: 95%;
	padding-top: 10px;
	margin: auto auto 10px auto;
	border-bottom: 2px dashed $color-component-background-lvl3;
	}
  &__li-task {
	display   : flex;
	flex-flow : column;
	flex-grow : 1;
	animation: slide-down 1s ease;
	&__container {
	  display       : flex;
	  align-items   : center;
	  &:hover {
		background-color : $color-component-background-lvl3;
		}
	  &__checkbox {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 30px;
		width: 30px;
		margin: 4px;
		cursor: pointer;
		flex-shrink: 0;
		color: $button-font-color-deeper;
		&:hover {
		  //background-color: $color-component-background-lvl1;
		  color: $button-font-color-deeper-hover;
		  }
		}
	  &__list-item {
		padding     : 10px 5px 10px 5px;
		word-break  : break-word;
		line-height : 20px;
		flex-grow   : 1;
		&:focus {
		  outline: none;
		  }
		}
	  &__del-button {
		display     : flex;
		align-items : flex-start;
		&__item {
		  //@extend %no-margin-padding;
		  @extend %manager-button-style;
		  font-size : 16px;
		  //color     : $button-font-color-deeper;
		  color: $button-font-color-deeper;
		  &:hover {
			color            : $button-font-color-deeper-hover;
			background-color : $color-component-background-lvl1;
			}
		  &:focus {outline : none;}
		  }
		}
	  }
	}
  &__note-container {
	display   : flex;
	flex-flow : column;
	flex-grow : 1;
	&__text {
	  padding   : 10px 20px;
	  flex-grow : 1;
	  &:focus {
		outline: none;
		}
	  }
	&__clear-button {
	  align-self : flex-end;
	  &__item {
		//@extend %no-margin-padding;
		@extend %manager-button-style;
		color     : $button-font-color-deeper;
		font-size : 12px;
		width     : max-content;
		&:hover {
		  color : $button-font-color-deeper-hover;
		  }
		&:focus {outline : none;}
		}
	  }
	}
  &__bottom-panel {
	display         : flex;
	justify-content : flex-start;
	flex-flow       : column;
	&__link {
	  display    : flex;
	  align-self : flex-end;
	  &__add-return-button {
		//@extend %no-margin-padding;
		@extend %manager-button-style;
		font-size   : 16px;
		line-height : 16px;
		color       : $button-font-color-brighter;
		align-self  : flex-end;
		&:hover {
		  color : $button-font-color-brighter-hover;
		  }
		&:focus {outline : none;}
		}
	  &:hover {
		text-decoration : none;
		}
	  }
	}
  }
