// --- Variables --- //
///////////////////
//   - FONTS -   //
///////////////////
//		- basic -
$font-family-main : "Open Sans Light";
$font-size-main : 14px;
$font-color-main : #d3d3d3;
$font-color-main-deeper : #717171;
//		- title -
$font-family-title : "Open Sans Regular";
$font-color-title : #fff;
//		- navmenu -
$font-color-navmenu : #fff;
/////////////////////
//   - BUTTONS -   //
/////////////////////
$button-font-color-brighter : #c1c1c1;
$button-font-color-brighter-hover : #fff;
$button-font-color-deeper : #717171;
$button-font-color-deeper-hover : $button-font-color-brighter;
//////////////////////////////
//   - IMAGE APPEARANCE -   //
//////////////////////////////
$padding-images : 2px;
$border-radius-images : 2px;
$margin-images : 12px 15px;
////////////////////
//   - COLORS -   //
////////////////////
$color-background-main : #424250;
$color-component-background-lvl1 : #373740;
$color-component-background-lvl1-hover : #000;
$color-component-background-lvl1-focus : #000;
$color-component-background-lvl2 : #33333d;
$color-component-background-lvl2-hover : #000;
$color-component-background-lvl2-focus : #000;
$color-component-background-lvl3 : #424250;
$color-component-background-lvl3-hover : #000;
$color-component-background-lvl3-focus : #000;
$color-navmenu : /*#ffffff*/
		#33333d;
//		- accent colors -
$color-accent : #7cbdd6;
$color-accent-brighter : #0097A7;
$color-accent-deeper : #7cbdd6;
$color-green : #1EB980;
$color-red : #ff6859;
$color-yellow : #ffcf44;
$color-transparent : rgba(0, 0, 0, 0);
//		- border colors -
$color-borders : $color-component-background-lvl2;
$color-borders-hidden : $color-component-background-lvl1;
$color-borders-todo-title : $color-green;
$color-borders-note-title : $color-red;
$color-borders-common-title : $color-yellow;

//		- inputs and forms -
$input-background-color : $color-component-background-lvl1;
$input-font-color : $font-color-main;
///////////////////////////////////
//   - COMPONENTS APPEARANCE -   //
///////////////////////////////////
$border-radius-component : 0;
$todo-title : 1px solid $color-borders-todo-title;
$note-title : 1px solid $color-borders-note-title;
$common-title : 1px solid $color-borders-common-title;
$border-component-hover : 1px solid $color-borders;
$border-component-hidden : 1px solid $color-borders-hidden;
/////////////////////
//   - SHADOWS -   //
/////////////////////
$box-shadow-unfocused-component : 3px 3px 3px 0 rgba(0, 0, 0, 0.12), -1px -1px 3px 0 rgba(0, 0, 0, .08);
$box-shadow-focused-component : 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-focused-component-hover : 0 3px 6px 2px rgba(0, 0, 0, 0.16), 0 3px 6px 2px rgba(0, 0, 0, 0.23);
$box-shadow-component-lvl1 : #000;
$box-shadow-component-lvl1-hover : #000;
$box-shadow-component-lvl1-focus : #000;
$box-shadow-component-lvl2 : #000;
$box-shadow-component-lvl2-hover : #000;
$box-shadow-component-lvl2-focus : #000;
$box-shadow-component-lvl3 : #000;
$box-shadow-component-lvl3-hover : #000;
$box-shadow-component-lvl3-focus : #000;
////////////////////////
//   - ANIMATIONS -   //
////////////////////////
$transition-animation-hover : all 0.3s cubic-bezier(.25, .8, .25, 1);

// --- Extends --- //
%no-margin-padding {
  margin  : 0;
  padding : 0;
  }

%input-custom {
  border        : none;
  border-radius : 0 !important;
  box-shadow    : none !important;
  }

//////////////////////////////////
// --- Flex-box Cheat-sheet --- //
//////////////////////////////////
//			- Defaults -
//    flex-direction			  : row
//    flex-flow 				  : row nowrap
//    flex-wrap 				  : nowrap
//    justify-content  			  : flex-start
//    align-items && align-self   : stretch
//    align-content 			  : stretch
//    flex-shrink 			      : 1
//    flex-basis 				  : auto
//    flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] : 0 1 auto
//
//			- Naming -
//    %flex-col_w-center-center
//    display - flex-flow (_w-wrap,empty-default) - justify-content - align-items

%flex-col-center-center {
  display         : flex;
  flex-flow       : column;
  justify-content : center;
  align-items     : center;
  //  - - -
  //  - 0 -
  //  - 0 -
  //  - - -
  }

%flex-row_w-flex_start-flex_start {
  display         : flex;
  flex-flow       : row wrap;
  justify-content : flex-start;
  align-items     : flex-start;
  //  - 0 - 0 -
  //  - - - 0 -
  //  - - - - -
  }
